:root {
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --accent-color: #006aff;
    --bg-content-row: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding-top: 60px;
}

nav {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.linksContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: 250ms;
}

nav a:hover {
    background-color: var(--accent-color);
}

nav .homeLink {
    margin-right: auto;
}

nav svg {
    color: var(--text-color);
}

#sidebar-active {
    display: none;
}

.openSidebarButton,
.closeSidebarButton {
    display: none;
}

@media(max-width: 600px) {
    .linksContainer {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 750ms ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .openSidebarButton,
    .closeSidebarButton {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked~.linksContainer {
        right: 0;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.contentRow {
    padding: 30px;
    background-color: var(--bg-content-row);
}

.parallax {
    background-image: url("../resources/images/blackboard.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax h1 {
    color: var(--text-color);
    font-size: 48pt;
}

#presentation-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.profilePicture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid var(--color-1) 10px;
}